<!DOCTYPE html>
<html lang="en">
 <head>  
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Starter Page - ZenBlog Bootstrap Template</title>
  
<div th:replace="~{partials/head}"></div>
</head>
<body class="write-post-page">

<div th:replace="~{partials/header}"></div>

  <!-- Page Title -->
  <div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Write a New Post</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Write a Post</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <main class="main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">

          <section id="write-post" class="write-post section">
            <div class="container">

             <div th:replace="~{post/_postForm :: form (post=${post}, isEdit=true)}"></div>
             
            </div>
          </section><!-- /Write Post Section -->

        </div>
      </div>
    </div>
  </main>

<div th:replace="~{partials/footer}"></div>
</body>

</html>
